$mobile-media-width: 500px;
$tablet-media-width: 767px;
$tablet-min-media-width: 768px;
$desktop-media-width: 1024px;
$pre-full-hd-desktop-media-width: 1450px;
$full-hd-desktop-media-width: 1920px;

$header-height: 2.75rem;