@import 'shared/style/var.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border-bottom: 1px solid #414144;
  height: $header-height;
  padding-left: 1.5rem;

  &__nav {
    &-items {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      user-select: none;
    }

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin-right: 1.125rem;
      padding: 0 0.3125rem;
      font-size: 0.875rem;
      line-height: 1rem;
      color: #A1A1AA;
      cursor: pointer;

      &:last-of-type {
        margin: 0;
      }

      &_active {
        position: relative;
        color: #fff;
        border-bottom: 2px solid #fff;
      }
    }
  }

  &__structure-icon,
  &__back-icon {
    cursor: pointer;
  }

  &__structure-icon {
    margin-right: 1.6875rem;
  }

  &__back-icon {
    margin-right: 2.125rem;
  }
}