@import 'shared/style/var.scss';

.app {
  width: 100%;
  background: #27272A;
  display: flex;
  flex-direction: column;

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
  }

  &__container {
    width: 100%;
    height: calc(100vh - $header-height);
    display: flex;
    flex-grow: 1;
  }

  &__title {
    width: 19.5rem;
    height: 100%;
    border-right: 0.0625rem solid #414144;
    display: flex;
    align-content: center;
    padding: 10px 0 0 15px;

    font-size: 18px;
    line-height: 21px;
  }

  &__main {
    width: 85%;
    flex-grow: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    user-select: none;

    &-top {
      height: 2.8rem;
      border-bottom: 0.0625rem solid #414144;
    }
  }

  &__main-content {
    flex-grow: 2;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}