.content-title {
  width: 19.5rem;
  height: 100%;
  border-right: 0.0625rem solid #414144;
  display: flex;
  align-content: center;
  padding: 10px 0 0 15px;

  font-size: 18px;
  line-height: 21px;
}